$body-bg: var(--body-bg-color);
$card-bg: var(--card-bg-color);
$bottom-bg: var(--bottom-bg-color);
$text-color: var(--text-color);
$button-text-color: var(--button-text-color);
$navbar-bg: var(--navbar-bg-color);
$footer-bg: var(--footer-bg-color);