@import "master";

.font-size-30 {
 font-size: 30px;
}

.font-cuntry-side {
 font-family: "cuntrySide";
}

.font-love {
 font-family: "love";
}

.font-roboto {
 font-family: "roboto";
}

.font-cinderella {
 font-family: "cinderella";
}
