<div class="pt-2">
  <p class="font-cuntry-side text-center font-size-30 cursor-pointer" (click)="changeFont(fontType.CUNTRY_SIDE)">Select
    a font
  </p>
  <p class="font-love text-center font-size-30 cursor-pointer" (click)="changeFont(fontType.LOVE)">Select a font</p>
  <p class="font-roboto text-center font-size-30 cursor-pointer" (click)="changeFont(fontType.ROBOTO)">Select a font</p>
  <p class="font-cinderella text-center font-size-30 cursor-pointer mb-0" (click)="changeFont(fontType.CINDERELLA)">
    Select a
    font</p>
</div>